/* ==========================================================================
Main page styles
========================================================================== */
.hipster {
  background: url('../../../content/images/Taieri.svg') center;
  background-size: cover;
  padding: 10px 10px 10px 10px;
  min-height: 100%;
}

.nav-tabs .nav-link.active{
  background: #dddddd;
}

.datepicker{
  background: #111111;
}
